@import url('https://fonts.googleapis.com/css2?family=Antic&family=Coda&family=Michroma&display=swap');
.clear {
    clear: both;
}
#video {
    position: relative;
}
#video video {
    width: 90%;
    height: 90%;
}
#content {
    position: absolute;
    bottom: 2%;
    left: 15%;
}
#content h3 {
    font-size: 3em;
    font-weight: 500;
    font-family: 'Michroma', sans-serif;
}
#content h1 {
    font-size: 4em;
    font-weight: 1000;
    font-family: 'Michroma', sans-serif;
}
#coming {
    width: 100%;
    margin-top: 10%;
}
#coming img {
    float: left;
    width: 55%;
    height: auto;
    margin-left: 5%;
}
#textocom {
    float: left;
    width: 35%;
    height: 20%;
    margin-top: 8%;
}
#textocom h3 {
    font-size: 2em;
    font-family: 'Michroma', sans-serif;
}
#textocom h3 i {
    font-family: 'Michroma', sans-serif;
}
#specs {
    margin-top: 10%;
}
#specs img {
    float: right;
    width: 40%;
    height: auto;
    margin-right: 7%;
}
#textospecs {
    float: left;
    margin-top: 4%;
    margin-left: 8%;
    font-family: 'Michroma', sans-serif;
    font-size: 0.9em;
}
#textospecs h1 {
    margin-bottom: 6%;
    font-family: 'Michroma', sans-serif;
}
#description {
    margin-top: 7%;
}
#sr1 {
    float: left;
    width: 55%;
    margin-bottom: 14%;
    transform: perspective(800px) rotateY(20deg);
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0009);
}
#sr2 {
    float: left;
    width: 55%;
    margin-bottom: 14%;
    transform: perspective(800px) rotateY(20deg);
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0009);
}
#sr3 {
    float: right;
    width: 50%;
    transform: perspective(800px) rotateY(-20deg);
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0009);
}
#sr4 {
    float: left;
    width: 50%;
    transform: perspective(800px) rotateY(20deg);
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0009);
}
#description img {
    width: 70%;
}
#interior {
    width: 40%;
    height: 50%;
    float: right;
    margin-right: 5%;
}
#exterior {
    width: 40%;
    height: 50%;
    float: right;
    margin-right: 5%;
}
#interior h2 {
    font-family: 'Michroma', sans-serif;
    text-align: left;
    margin-bottom: 2%;
}
#interior p {
    font-family: 'Michroma', sans-serif;
}
#exterior h2 {
    font-family: 'Michroma', sans-serif;
    text-align: right;
    margin-bottom: 2%;
}
#exterior p {
    font-family: 'Michroma', sans-serif;
}