#fv {
	position: relative;
	width: 50%;
	height: 50vh;
	overflow: hidden;
}
#fv video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#fv h2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-transform: uppercase;
	font-size: 10vw;
	text-align: center;
	font-weight: 800;
	line-height: 0.85em;
	color: #fff;
	background: rgba(0,0,0,0.85);
	mix-blend-mode: multiply;
}
#fv h2 span {
	font-size: 0.4em;
	line-height: 0.85em;
}